<br>
<div id="content">
    <div class="table">
        <h1>Ver transacciones</h1>
        <button (click)="getTransaccion()">Consultar</button>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Fecha Transaccion</th>
                    <th>Monto</th>
                    <th>Tipo Transaccion</th>
                    <th>Numero Cuenta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of  transacciones">
                    <td>{{t.CODIGO}}</td>
                    <td>{{t.DESCRIPCION}}</td>
                    <td>{{t.FECHATRANSACCION}}</td>
                    <td>{{t.MONTO}}</td>
                    <td>{{t.TIPOTRANSACCION}}</td>
                    <td>{{t.CUENTANUMERO}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>